#wrapper {
  color: white;
  font-family: monospace;
  text-align: center;
  font-size: 100px;
}
#topic {
  font-family: monospace;
  text-align: center;
  font-size: 20px;
  color: white;
  position: relative;
  top: -80px;
}
body {
  background-color: black;
}
